---
---

@import "{{ site.theme }}";

figure>img {
	max-height: 30vh;
	width: auto;
}

iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}
